NODE_ENV= dev
NODE_TLS_REJECT_UNAUTHORIZED= 0

DB_URL= mongodb://localhost:27017/garden
DB_URL_TEST= mongodb://localhost:27017/garden_test

REDIS_URL= redis://localhost
SPIKE_URL= https://32324234
KARTOFFEL_URL= http://sadsadadad